<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="500"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="AppCode" value="HRCTC"/>
    <add key="LDAP_Ignore" value="Y"/>
    <add key="LDAP_Domain" value="TCE.COM"/>
    <add key="TotalFileSize" value="10485760"/>
    <add key="Debug_Path" value="C:\Apps\HRCTC"/>
    <add key="Debug_Path_Text" value="C:\HRApp\EmpSal.txt" />
    <add key="Debug_IsEnabled" value="N"/>
    <add key="Version" value="1.0"/>
    <add key="DateChkForMobileDMealCrd" value="01/Apr/2018"/>
    <add key="LogFileFlag" value="Y"/>
    <add key="DBConn" value="server=10.10.2.242;database=TEST_EMP_STRUCTURE;uid=sa;password=dbo@fin#004;Timeout=1800"/>
    <!--<add key="DBConn" value="server=10.10.2.242;database=DB_TCE_EMPCTCRestruc;uid=sa;password=dbo@fin#004;Timeout=1800"/>-->
    <!--<add key="DBConn" value="server=10.10.1.5;database=testrestruc;uid=sa;password=sqltest;Timeout=1800" />-->
    <!--<add key="DBConn" value="server=10.10.1.5;database=DB_TCE_EMPCTCRestruc;uid=sa;password=sqltest;Timeout=1800" />-->
    <!--<add key="DBConn" value="server=10.10.1.4;database=DB_TCE_EMPCTCRestruc;uid=sa;password=sqlfin;Timeout=36000" />-->
    <!--<add key="DBConn" value="server=10.10.1.4;database=TestRestru;uid=sa;password=sqlfin;Timeout=1800" />-->
    <!--<add key="DBConn" value="server=172.16.10.35;database=DB_TCE_EMPCTCRestruc;uid=sa;password=crm12@tce;Timeout=1800" />-->
  </appSettings>
  <connectionStrings>
    <add name="DBConn" connectionString="server=10.10.2.242;database=TEST_EMP_STRUCTURE;uid=sa;password=dbo@fin#004;Timeout=1800" providerName="System.Data.SqlClient"/>
    <!--<add name="DBConn" connectionString="server=10.10.2.242;database=DB_TCE_EMPCTCRestruc;uid=sa;password=dbo@fin#004;Timeout=1800" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBConn" connectionString="server=10.10.1.5;database=testrestruc;uid=sa;password=sqltest;Timeout=1800" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConn" connectionString="server=10.10.1.4;database=DB_TCE_EMPCTCRestruc;uid=sa;password=sqlfin;Timeout=1800" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConn" connectionString="server=172.16.10.35;database=DB_TCE_EMPCTCRestruc;uid=sa;password=crm12@tce;Timeout=1800" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConn" connectionString="server=10.10.1.4;database=TestRestru;uid=sa;password=sqlfin;Timeout=36000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConn" connectionString="server=10.10.1.4;database=DB_TCE_EMPCTCRestruc;uid=sa;password=sqlfin;Timeout=36000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConn" connectionString="Data Source=172.16.10.105;Initial Catalog=DB_TCE_CTV;Persist Security Info=True;User ID=sqlctv;Password=sql@ctv@10" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>